---
---
@import 'mixins';
@import 'colors';
@import 'sizes';

@import 'normalize';
@import 'grid';
@import 'typography';
@import 'links';
@import 'animations';
@import 'buttons';
@import 'code';
@import 'forms';
@import 'icons';
@import 'lists';
@import 'tables';
@import 'spacing';
@import 'utilities';
@import 'video';

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  background-color: #000;
  color: $light-color;
  background-position: top center;
  background-repeat: no-repeat;
  @media (orientation: landscape) {
    background-size: contain;
  }
}

.home {
  background-image: url('/img/home.jpg');
  @media (orientation: portrait) {
    background-size: 200%;
  }
}

.tous {
  background-image: url('/img/tous.jpg');
  @media (orientation: portrait) {
    background-size: 150%;
  }
}

.merci {
  background-image: url('/img/merci.jpg');
  @media (orientation: portrait) {
    background-size: 150%;
  }
}

header,
footer {
  margin: 2rem 0;
  @media (min-width: $breakpoint-m) {
    margin: 4rem 0;
  }
}

.part {
  margin: 4rem 0 8rem;
  @media (min-width: $breakpoint-m) {
    margin: 8rem 0 12rem;
  }
}

.hero {
  padding: 1rem 2rem;
  margin-bottom: 6rem;
  @media (min-width: $breakpoint-m) {
    padding: 1rem 5rem;
    margin-bottom: 10rem;
  }
  .hero-p { margin-bottom: 0; }
  .hero-input { margin: 2rem auto 0; }
}

.live-form {
  padding: 2rem 2rem 1rem;
  @media (min-width: $breakpoint-m) {
    padding: 3rem 5rem 1rem;
  }
}

.live-entry {
  margin: 3rem 0;
  padding: 0 2rem 1rem;
  background-color: $dark-color-transparent;
  &:hover { background-color: $dark-color; }

  @media (min-width: $breakpoint-m) {
    padding: 3rem 5rem;
    h3, .button { margin: 0; }
  }
  &:first-of-type { margin-top: 0; }

  @media (max-width: $breakpoint-m-1) {
    background-color: $dark-color;
    .arrow::before {
      content: "";
      display: block;
    }
  }
}

.live-entry .live-links,
.hero .live-count {
  text-align: center;
  margin-bottom: 1rem;
  @media (min-width: $breakpoint-m) {
    text-align: right;
    margin-bottom: 0;
  }
}

@media (max-width: $breakpoint-m-1) {
  .live-buttons {
    display: inline;
    width: 48%;
    &.live-links { margin-left: 0; }
    &.live-count { margin-left: 4%; }
  }
}

.menu-footer {
  @media (min-width: $breakpoint-m) {
    text-align: right;
    &.left { text-align: left; }
  }
}

footer {
  margin-top: 9rem;
}
