---
title: "Destination live"
titre: "Lives récemment proposés"
description: "Tu veux voir qui en live ? Fais-le venir près de chez toi !"
hero-title: "En manque de live&nbsp;?"
hero-p: "Dis-nous qui tu veux voir en live.<br>Vote pour les lives qui te bottent.<br>Fais-les venir près de chez toi."
hero-links: "oui"
---
<!DOCTYPE html>
<html lang="fr-fr">
  {% include head.html %}
  <body class="home container">
    {% include header.html %}
    {% include hero.html %}
    <div id="live-add">
      <h2 class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" class="icon" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg><br>
        Proposer un live
      </h2>
      {% include form-qui-ou.html %}
    </div>
    <div id="recent-lives" class="live-entries">
      <h2 class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" class="icon" viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
        </svg><br>
        {{ page.titre }}
      </h2>
      {% include list-recent-lives.html %}
    </div>
    <p class="text-center">
      <a class="button older" href="/tous.html">Tous les lives proposés</a>
    </p>
    {% include footer.html %}
  </body>
</html>
