---
title: Merci pour cette suggestion de live
noindex: oui
---
<!DOCTYPE html>
<html lang="fr-fr">
  {% include head.html %}
  <body class="merci container" onload="javascript:getArtist();fillButtonHit();">
    {% include header.html %}
    <div class="hero">
      <div class="row align-center">
        <div class="eight columns">
          <h1><span id="artist"></span> <span class="text-jet pink-text-shadow">-></span> <span id="place"></span></h1>
        </div>
        <div class="four columns">
          {% include hit-button.html liveid = "liveid" %}
        </div>
      </div>
      <p>En attendant de voir ce live, voici une petite vidéo pour patienter.</p>
    </div>
    <div id="videoContainer" class="video-container"></div>
    <div class="part">
      <p class="text-center">
        {% include tous-les-lives.html %}
      </p>
    </div>
    {% include footer.html %}
  </body>
</html>
