<footer>
  <div class="row">
    <div class="six columns menu-footer">
      <ul class="no-style">
        <li>Conception <a href="https://odevillardi.fr">odevillardi</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
    <div class="six columns menu-footer left">
      <ul class="no-style">
        <li>Hébergé sur <a href="https://www.netlify.com">Netlify</a></li>
        <li>Licence <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">CC&nbsp;by-sa&nbsp;4.0</a></li>
        <li>Photos par <a href="https://pixabay.com/fr/users/stocksnap-894430/">StockSnap</a></li>
      </ul>
    </div>
  </div>
</footer>
