<div class="live-form dark-bg">
  <form id="liveform"
      name="qui-ou"
      action="/merci.html?artist="
      method="POST"
      netlify-honeypot="bot-field"
      data-netlify="true">
    <input id="liveid"  name="liveid"  hidden>
    <input id="videoid" name="videoid" hidden>
    <label class="hidden">Ne pas remplir ce champ<input name="bot-field"></label>
    <div class="row">
      <div class="six columns">
        <label class="title title-h1 dark-pink-text-shadow" for="qui">Qui&thinsp;?</label>
        <input  class="icon-input qui-input u-full-width"
                id="qui" type="text"
                name="qui"
                placeholder="The Weeknd"
                oninput="javascript:putArtist()"
                onblur="javascript:fillVideoId()"
                required>
      </div>
      <div class="four columns">
        <label class="title title-h1 dark-pink-text-shadow" for="ou">Où&thinsp;?</label>
        <input  class="icon-input ou-input u-full-width"
                id="ou" type="text"
                name="ou"
                placeholder="Rennes"
                oninput="javascript:putArtist()"
                required>
      </div>
      <div class="two columns">
        <label class="title title-h1 dark-pink-text-shadow">Go&thinsp;!</label>
        <button class="button button-primary u-full-width half-width-s" type="submit"><span>-></span></button>
      </div>
    </div>
  </form>
</div>
