<script>getLiveHit('{{ live.liveid }}');</script>
<div id="link-{{ live.liveid }}" class="live-entry row dark-bg align-center">
  <div class="eight columns">
    <h3>{{ live.qui | url_decode | strip_html | strip_newlines }} <span class="text-jet pink-text-shadow">-></span> {{ live.ou | url_decode | strip_html | strip_newlines }}</h3>
  </div>
    <div class="two columns live-links">
      <a class="button u-full-width" href="{{ live.url }}">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="currentColor" width="1em" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
        </svg>
        Voir
      </a>
    </div>
    <div class="two columns live-count">
      {% include hit-button.html liveid = live.liveid %}
    </div>
</div>
