/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $blue-color;
  &:hover {
    color: $pink-color;
    text-decoration: none;
  }
}

.newer::before { content: "‹ "; }
.contact::before { content: "› "; }
.older::after  { content: " ›"; }
.more::before { content: "+ "; }
