$breakpoint-xs-1:  299px;
$breakpoint-xs:    300px;
$breakpoint-s-1:   549px;
$breakpoint-s:     550px;
$breakpoint-m-1:   749px;
$breakpoint-m:     750px;
$breakpoint-l-1:  1023px;
$breakpoint-l:    1024px;
$breakpoint-xl-1: 1199px;
$breakpoint-xl:   1200px;
