/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 800;
  font-display: auto;
  src: local('JetBrains Mono Italic'), local('JetBrainsMonoItalic-ExtraBold'), url('./JetBrainsMonoBoldItalic.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('./RobotoCondensed.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: auto;
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url('./RobotoCondensedItalic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('./RobotoCondensedBold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: auto;
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url('./RobotoCondensedBoldItalic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$main-family: "Roboto Condensed", "Arial Narrow", sans-serif;
$secondary-family: "JetBrains Mono", Courier, "Courier New", monospace;

html {
  font-size: 62.5%;
  @include font-variant-ligatures("normal, discretionary-ligatures, historical-ligatures, contextual");
  font-feature-settings: "kern" 1, "liga" 1, "swsh" 1;
  text-rendering : optimizeLegibility;
}

body {
  font-size: 2em;
  line-height: 1.5;
  font-weight: 400;
  font-family: $main-family;
  color: #222;
}

.lead             { font-size: 1.2em; }

.text-left        { text-align: left; }
.text-right       { text-align: right; }
.text-center      { text-align: center; }
.text-capitalize  { text-transform: capitalize; }
.text-uppercase   { text-transform: uppercase; }
.text-jet         { font-family: $secondary-family; }
.text-pink        { color: $pink-color; }
.pink-text-shadow { @extend %pink-text-shadow; }

h1, h2, h3, h4, h5, h6, .title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-style: italic;
  color: $light-color;
}

.title {
  margin-bottom: 0;
  margin-top: 0;
  @media (max-width: $breakpoint-m-1) {
    margin-top: 1rem;
  }
}

h1, .title-h1 { font-size: 4.0rem; line-height: 1; }
h2, .title-h2 { font-size: 3.6rem; line-height: 1.1; letter-spacing: -.1rem; font-style: normal; }
h3, .title-h3 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem; }
h4, .title-h4 { font-size: 2.4rem; line-height: 1.3; letter-spacing: -.08rem; }
h5, .title-h5 { font-size: 1.8rem; line-height: 1.4;  letter-spacing: -.05rem; }
h6, .title-h6 { font-size: 1.5rem; line-height: 1.5;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1, .title-h1 { font-size: 5.0rem; }
  h2, .title-h2 { font-size: 4.2rem; }
  h3, .title-h3 { font-size: 3.6rem; }
  h4, .title-h4 { font-size: 3.0rem; }
  h5, .title-h5 { font-size: 2.4rem; }
  h6, .title-h6 { font-size: 1.5rem; }
}

.logo {
  font-family: $secondary-family;
  font-weight: 800;
  text-align: center;
  margin: 0;
  display: inline-block;

  a {
    color: inherit;
    text-decoration: none;
    @extend %blue-text-shadow;
    &:hover {
      color: inherit;
      @extend %pink-text-shadow; }
  }

  span {
    animation: glitchtext .25s ease reverse both;
    &::after,
    &::before {
      animation: glitchtextinverse .25s ease reverse both;
      @extend %pink-text-shadow;
    }

    &.logo-live::before { content: "->"; }

    @media (max-width: $breakpoint-m-1) {
      display: block;
      &.logo-desti::after { content: "–"; }
    }
  }

  @media (min-width: $breakpoint-m){
    &:hover {
      span { animation: glitchtext .25s ease reverse both infinite; }
      span::after,
      span:before { animation: glitchtextinverse .25s ease reverse both infinite; }
    }
  }
}

p { margin-top: 0; }
