---
---
<!DOCTYPE html>
<html lang="fr-fr">
  {% include head.html %}
  <body class="merci container">
    {% include header.html %}
    <div class="part hero">
      <div class="row align-center">
        <div class="eight columns">
          <h1>{{ page.qui | url_decode }}
            <span class="text-jet pink-text-shadow">-&#8288;></span>&nbsp;{{ page.ou | url_decode }}</h1>
        </div>
        <div class="four columns live-count">
          <script>getLiveHit('{{ page.liveid }}');</script>
          {% include hit-button.html liveid = page.liveid %}
        </div>
      </div>
      <p>En attendant de voir <strong>{{ page.qui | url_decode }} <em>en live</em> à {{ page.ou | url_decode }}</strong>, voici une petite vidéo pour patienter.</p>
    </div>
    <div class="part video-container">
      <iframe class="embed-responsive-16by9" src="https://www.youtube-nocookie.com/embed/{{ page.videoid }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <noscript>Voir la vidéo de <a href="https://www.youtube.com/watch?v={{ page.videoid }}">{{ page.qui | url_decode }} sur Youtube</a></noscript>
    </div>
    <div class="part">
      <div class="text-center">
        {% include tous-les-lives.html %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
